*.swp
/bin/
/lib/
/include/
/plone-2.0.5/.installed.cfg
/plone-2.0.5/Products/
/plone-2.0.5/bin/
/plone-2.0.5/includebin/
/plone-2.0.5/downloads/
/plone-2.0.5/eggs/
/plone-2.0.5/include/
/plone-2.0.5/lib/
/plone-2.0.5/parts/
/plone-2.0.5/var/
/_build/
/plone-4.0/.installed.cfg
/plone-4.0/bin/
/plone-4.0/buildout.cfg
/plone-4.0/eggs/
/buildoutplone-4.0/include/
/plone-4.0/lib/
/plone-4.0/parts/
/plone-4.0/include/
/sphinx-to-github/
